ADMIN_EMAIL=
OWNER_EMAIL=
NOREPLY_EMAIL=
GOOGLE_PLACES_API_KEY=
TOMTOM_SEARCH_API_KEY=
GOOGLE_ADMOB_APP_ID=
GOOGLE_ADMOB_BANNER_AD_UNIT_ID=
GOOGLE_ADMOB_APP_ID_IOS=
GOOGLE_ADMOB_BANNER_AD_UNIT_ID_IOS=
GOOGLE_ADSENSE_CLIENT_ID=
ADSENSE_LIST_TILE_SLOT_ID=
IMAP_SERVER=
REVENUECAT_API_KEY_DEV_ANDROID=
REVENUECAT_API_KEY_DEV_IOS=
REVENUECAT_API_KEY_DEV_WEB=
REVENUECAT_API_KEY_PROD_ANDROID=
REVENUECAT_API_KEY_PROD_IOS=
REVENUECAT_API_KEY_PROD_WEB=
TEST_MAIL=
TEST_SECURE_PASSWORD=
TEST_WEAK_PASSWORD=
TEST_HELPER_MAIL=
TEST_HELPER_SECURE_PASSWORD=
FLAVOR=dev
EMAIL_WEB=
EMAIL=
TEST_EMAIL=
TEST_CODE=
TEST_NAME=Dummy
TEST_SURNAME=NPC
TEST_LIVING_ADDRESS=Hauptbahnhof, Bielefeld, Deutschland
