#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-dev.xcconfig"
#include "Generated.xcconfig"
FLUTTER_TARGET=lib/main_dev.dart
ONLY_ACTIVE_ARCH=YES
DEEP_LINK_HOST=stimmapp-dev.web.app
SECONDARY_DEEP_LINK_HOST=vivot-dev.web.app
WEB_DEEP_LINK_HOST=stimmapp-dev.web.app
SECONDARY_WEB_DEEP_LINK_HOST=vivot-dev.web.app
APP_DISPLAY_NAME=StimmApp Dev
APP_BUNDLE_NAME=stimmapp
GOOGLE_CLIENT_ID=25072489020-tuale5hku3au71pes4ube7n1c0m8ubbf.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID=com.googleusercontent.apps.25072489020-tuale5hku3au71pes4ube7n1c0m8ubbf
