#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-prod.xcconfig"
#include "Generated.xcconfig"
FLUTTER_TARGET=lib/main.dart
DEEP_LINK_HOST=stimmapp.net
SECONDARY_DEEP_LINK_HOST=vivot.net
APP_DISPLAY_NAME=Vivot
APP_BUNDLE_NAME=Vivot
GOOGLE_CLIENT_ID=223242419578-mmgcc9o1srfb7vdijf3s5lrmaaif0th8.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID=com.googleusercontent.apps.223242419578-mmgcc9o1srfb7vdijf3s5lrmaaif0th8
